{
  http_port     9080
  https_port    9443
}

localhost:9080 {
  route /api/foo {
    lambda {
      runtime python
      script_path assets/scripts/api/hello_world.py
    }
  }
  route {
    respond "OK"
  }
}