{
	http_port 9080
	https_port 9443
}

localhost:9080 {
	route /api/* {
		lambda {
			name hello_world
			runtime python
			python_executable {$HOME}/dev/go/src/github.com/greenpau/caddy-lambda/venv/bin/python
			entrypoint assets/scripts/api/hello_world/app/index.py
			function handler
		}
	}
	route {
		respond "OK"
	}
}
